
#contextMenu{
    position: absolute;
    width: 100px;
    background-color: gray;
    box-shadow: 2px 2px 2px lightgray;
    display: none;
    z-index: 2;
}
ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
}
#contextMenu ul li{
    cursor: pointer;
    padding: 5px;
}
#contextMenu ul li:hover{
    background-color: aqua;
}
#li{
    z-index: 2;
}

#overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: antiquewhite;
    display:block;
    z-index: -1;
}
.done{
    text-decoration: line-through;
    color: red;
}
i{
    cursor: pointer;
}
/* .box{
    height: 100px;
    width: 100px;
    background-color: red;
    border:  2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    color: white;
    font-size: 25px;
} */

/* #div{
    border: 2px solid black;
    padding: 20px;
}
#p{
    border: 2px solid black;
    padding: 20px;
}
#span{
    color: red;
} */